<div class="box-content">
    <form class="form-horizontal">
        <div class="modal-header">
            <h7 class="modal-title">Thêm Mới Sản Phẩm</h7>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" id="notification_error" style="display:none;"> </div>
            <div class="form-group">
                <label for="ProductName" class="col-sm-3 control-label required">Tên sản phẩm</label>
                <div class="col-sm-8">
                    <input name="District" id="District" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="Image" class="col-sm-3 control-label required">Hình </label>
                <div class="col-sm-8">
                    <input name="Image" id="Image" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="URL" class="col-sm-3 control-label required">URL</label>
                <div class="col-sm-8">
                    <input name="URL" id="URL" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="MetaTitle" class="col-sm-3 control-label required">MetaTitle</label>
                <div class="col-sm-8">
                    <input name="URL" id="MetaTitle" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="SeoTitle" class="col-sm-3 control-label required">SeoTitle</label>
                <div class="col-sm-8">
                    <input name="SeoTitle" id="SeoTitle" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="MetaDescription" class="col-sm-3 control-label required">MetaDescription</label>
                <div class="col-sm-8">
                    <input name="MetaDescription" id="MetaDescription" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="col-sm-3 control-label required">Description</label>
                <div class="col-sm-8">
                    <input name="Description" id="Description" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="CategoryId" class="col-sm-3 control-label required">Loại sản phẩm</label>
                <div class="col-sm-8">
                    <input name="CategoryId" id="CategoryId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="Cost" class="col-sm-3 control-label required">Giá gốc</label>
                <div class="col-sm-8">
                    <input name="Cost" id="Cost" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <a onclick="Save()" class="btn btn-primary pull-left" tabindex="4"> Lưu</a>
                    <a class="btn btn-white pull-left" data-dismiss="modal" tabindex="7"> Đóng</a>
                </div>
            </div>
        </div>
    </form>
</div>
