
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="~/Scripts/googelAPI/googleAPILogin.js"></script>
<script src="~/Scripts/facebookAuthen/facebookAuthentication.js"></script>
<div id="fb-root"></div>
<div class="float-e-margins">
    <div class="ibox-title" style="border-width:0px">
        <h5 style="color:white !important">Đăng nhập</h5>
        <div class="ibox-tools">
            <a class="close-link" data-dismiss="modal" title="Đóng">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        @*@using (Html.BeginForm("AddNewCategory", "Category", FormMethod.Post, new { id = "frmAddNewCategory", enctype = "multipart/form-data" }))
        {

        }*@
        <div class="panel-body">
            <div class="row">
                <div id="lg_content_left" style="width:40%;float:left">
                    <div style="width:100%;padding:5px;">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <p style="font-size:25px;text-align:center">Đăng nhập</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <p>Đăng nhập để theo dõi đơn hàng, lưu danh sách sản phẩm yêu thích và nhận nhiều ưu đãi hấp dẫn</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <img src="~/Images/home/map_sm.png" style="width:100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="lg_content_right" style="width:60%;float:left;border-left:thin dotted #c4c4c4">
                    <div class="category-tab shop-details-tab">
                        <!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tabLogin" data-toggle="tab">Đăng nhập</a></li>
                                <li><a href="#tabCreateAccount" data-toggle="tab">Tạo tài khoản</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabLogin">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Email/SĐT </div>
                                            <div class="col-sm-9"><input type="text" id="u_userName" class="form-control" placeholder="Nhập email hoặc số điện thoại" /></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Mật khẩu </div>
                                            <div class="col-sm-9"><input type="password" id="u_password" class="form-control" placeholder="Nhập mật khẩu" /></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-lg-12"><span><i>Quên mật khẩu? Nhấn vào đây</i></span></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9"><button id="btnULogin" class="btn btn-primary pull-left" style="width: 100%;border-radius: 5px;margin-bottom:10px" onclick="userLogin()">Đăng nhập</button></div>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <a href="#" class="btn btn-w-m btn-success pull-left" onclick="_facebookLogin()" style="width: 100%;border-radius: 5px;background-color:#1c84c6;border-color:#1c84c6;">Đăng nhập bằng Facebook</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <a href="#" class="btn btn-w-m btn-danger pull-left" onclick="login()" style="width: 100%;border-radius: 5px;">Đăng nhập bằng Google</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <a href="#" class="btn btn-info pull-left" style="width: 100%;border-radius: 5px;">Đăng nhập bằng Zalo</a>
                                            </div>
                                        </div>
                                    </div>*@
                                    @*<div class="row">
                                        <div id="uname"></div>
                                        <div id="uemail"></div><br />
                                        <div><img id="imgHolder" style="height:120px;width:120px;" /></div>
                                    </div>*@
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tabCreateAccount">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Họ tên</div>
                                            <div class="col-sm-9"><input type="text" class="form-control" placeholder="Nhập họ tên" id="rg_fullName" /></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Số ĐT</div>
                                            <div class="col-sm-9"><input type="text" class="form-control" placeholder="Nhập số điện thoại" id="rg_phoneNumber" /></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Mã xác thực</div>
                                            <div class="col-sm-9"><input type="text" class="form-control" placeholder="Nhập mã xác thực gởi tới số điện thoại trên" id="otp" /></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Email</div>
                                            <div class="col-sm-9"><input type="text" class="form-control" placeholder="Nhập email" id="rg_email" /></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Mật khẩu</div>
                                            <div class="col-sm-9"><input type="password" class="form-control" placeholder="Nhập mật khẩu từ 6 đến 24 ký tự" id="rg_password" /></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Giới tính</div>
                                            <div class="col-sm-9">
                                                <div class="col-lg-6">
                                                    <input type="radio" name="gender" value="male" checked />
                                                    <label for="male">Nam</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="radio" name="gender" value="female" />
                                                    <label for="female">Nữ</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">Ngày sinh</div>
                                            <div class="col-sm-9"><input type="text" class="form-control" placeholder="dd/MM/yyyy" id="rd_birthDay" /></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9"><button id="btnRegister" class="btn btn-primary pull-left" style="width: 100%;border-radius: 5px;margin-bottom:10px" onclick="register()">Tạo tài khoản</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-6">
                    <a class="btn btn-w-m btn-danger pull-left" data-dismiss="modal">Đóng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        function register() {
        var url = "@Url.Action("ResgisterUserAccount", "UAccount")";
        var postData = {};
        postData.FirstName = $('#rg_fullName').val();
        postData.Phone = $('#rg_phoneNumber').val();
        postData.Email = $('#rg_email').val();
        postData.P = $('#rg_password').val();
        postData.BirthDate = $('#rd_birthDay').val();
        postData.Sex = $("input[name='gender']:checked").val() == "male" ? 0 : 1;
        if (postData.FirstName == "") {
            alert("Vui lòng nhập họ tên");
            return;
        }
        if (postData.Phone == "") {
            alert("Vui lòng nhập số điện thoại");
            return;
        }
        if (postData.Email == "") {
            alert("Vui lòng nhập email");
            return;
        }
        if (postData.P == "") {
            alert("Vui lòng nhập password");
            return;
        }
        if (postData.BirthDate == "") {
            alert("Vui lòng nhập ngày sinh");
            return;
        }

        $.ajax({
            type: "POST",
            url: url,
            data: postData ,
            dataType: 'json',
            beforeSend: function () {
                $("#btnRegister").html('<i class="fa fa-spinner fa-spin loading"></i> Đang đăng ký');
                $('#btnRegister').prop('disabled', true);

            },
            success: function (respon) {
                $("#btnRegister").html('Đăng ký');
                $('#btnRegister').removeAttr('disabled');
                if (respon.Success) {
                    alert(respon.Message);
                }
            },
            error: function () {

            }
        });
    }

        function userLogin() {
        if ($('#u_userName').val() == '') {
            alert('Vui lòng nhập email hoặc số ĐT');
            return false;
        }
        if ($('#u_password').val() == '') {
            alert('Vui lòng nhập mật khẩu');
            return false;
        }
        var _url = "@Url.Action("UserLogin", "UAccount")";
        $.ajax({
            type: "POST",
            url: _url,
            data: {
                userName: $('#u_userName').val(),
                password: $('#u_password').val()
            },
            dataType: 'json',
            beforeSend: function () {
                $("#btnULogin").html('<i class="fa fa-spinner fa-spin loading"></i> Đang đăng nhập');
                $('#btnULogin').prop('disabled', true);

            },
            success: function (respon) {
                $("#btnULogin").html('Đăng nhập');
                $('#btnULogin').removeAttr('disabled');
                if (respon.Success) {
                    alert("Đăng nhập thành công");
                    location.reload();
                    @*var _urlRedir = "@Url.Action("CheckOut", "Products")";
                    window.location.href = _urlRedir;*@
                } else {
                    alert("Email/SĐT hoặc mật khẩu không đúng");
                    return false;
                }
            },
            error: function () {
                alert('Lỗi');
            }
        });
    }
</script>
<style>
    .ibox-title {
        background-color: #278a22;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 3px 0 0;
        color: white;
        margin-bottom: 0;
        padding: 14px 15px 7px;
        min-height: 48px;
    }

        .ibox-title h5 {
            display: inline-block;
            font-size: 14px;
            margin: 0 0 7px;
            padding: 0;
            text-overflow: ellipsis;
            float: left;
        }

    .ibox-tools a {
        cursor: pointer;
        margin-left: 5px;
        color: #c4c4c4;
    }

    .ibox-tools {
        display: block;
        float: none;
        margin-top: 0;
        position: relative;
        padding: 0;
        text-align: right;
    }

    .nav-tabs li.active a {
        color: #0F0E0E;
        border-bottom: thick solid #229133;
        background-color: #fff;
    }

    .shop-details-tab {
        border: none;
    }

    .category-tab ul {
        background: none;
    }

    .nav-tabs li.active a:hover {
        background: #5ec56f;
        border-bottom: thick solid #229133;
    }

    .nav-tabs li.active a:focus {
        /*background:none;*/
        color: #0F0E0E;
        border-bottom: thick solid #229133;
        background-color: #fff;
    }

    .category-tab ul li a:hover {
        border-bottom: thick solid #229133;
    }

    .form-group {
        margin-bottom: 45px;
    }

    .btn.btn-primary {
        background: #eed92c;
    }
</style>

